@model MVC_Q2.ViewModels.ProductDetailViewModel
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>
<h3>ID : @Model.productDetail.Id</h3>
<div id="tableContainer">
    <table cellspacing="0" cellpadding="0" class="table03">
        <tr>
            <td> ProductName  </td>
            <td> @Model.productDetail.Product_Name </td>
        </tr>
        <tr>
            <td> Locale   </td>
            <td> @Model.productDetail.Locale </td>
        </tr>
        <tr>
            <td> Price   </td>
            <td> @Model.productDetail.Price </td>
        </tr>
        <tr>
            <td> PromotePrice   </td>
            <td> @Model.productDetail.Promote_Price </td>
        </tr>
        <tr>
            <td> CreateDate   </td>
            <td> @Model.productDetail.Create_Date </td>
        </tr>
    </table>
    <div class="button_area align_c">
        <button type="button" class="button02" onclick="javascript:window.history.go(-1);">上一頁</button>
    </div>
</div>
